{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    {% filter markdown %}
# Contribute

We, the community of Jabber (XMPP), consider it one of treasures of freedom, privacy and independence given to us by Free and Open Source Software. We urge you to value Jabber network as a part of Open Internet.

But freedom is not free. This is true for this case. Jabber as technology, infrastructure and software is undervalued since its birth because it is not backed by corporations' power, in turn it loses the competition on features and availability to proprietary solutions. This has lead to the situation we have now: millions of people in Skype, almost noone in Jabber. But Skype didn't evolve all these years (still no native x86-64 app!), while Jabber did. Tools for software development got so much better. Privacy and security awareness got much higher. Voluntary shutdowns of great products, e. g. by Google, made a lot of people to get some facts about ownership. This is really the time for Jabber to shoot ahead and to reign for long.

## So what to do?

- Adopt by yourself
  - See how it works for you
  - Discover available features
  - Figure out what makes (or could make) Jabber better than proprietary systems for you
  - Request for bug fixing ([including this server](https://github.com/decent-im/decent.im/issues))
  - Request for feature development ([including this server](https://github.com/decent-im/decent.im/issues))
  - Request features to be enabled at Jabber server you use ([including this server](https://github.com/decent-im/decent.im/issues))
  - Donate (including this server: [Gratipay](https://gratipay.com/decent-im) [Bountysource](https://salt.bountysource.com/teams/decent-im))
- Spread the word:
  - Invite your best friends, get them interested and help them to adopt
  - Advertise your Jabber availability to your contacts:
    - In your Skype status message
    - In your email signature
    - On your personal homepage
    - In your teams
  - Declare visibly that you **prefer** communication via open standard facilities
- Spread awareness about downsides of proprietary messengers, disclosed or uncertain
  - [Skype privacy crimes and so on](https://stallman.org/skype.html) ([RMS' "what's bad about" section is all great](https://stallman.org/))
  - [Why not to use Facebook](https://stallman.org/facebook.html) (RMS, too)
  - [Telegram vlunerabilities](https://duckduckgo.com/?q=telegram+vulnerabilities)
- Take even more active part in Jabber community
  - Hang on Jabber support chats
  - Hang on Jabber software development chats
  - Put efforts to update info on Jabber-related sites and pages
  - Host your Jabber server
  - Develop software yourself ([including this server](https://github.com/decent-im/decent.im/issues))
  - Donate to viable Jabber projects
  - Make Jabber keep the pace and stay up to date
- Extra tasks for those who go too far
  - Become security & privacy maniac, adopt and preach encryption and zero-trust mindset
  - Become the new freedom prophet, the new Richard Stallman


## In the scope of decent.im server:

This server is fully based on FOSS. The server's configuration files and deployment scripts are open, too - see [Git repo](https://github.com/decent-im/decent.im).

You can:

- Invite friends to get accounts here
- Donate money for service maintenance and development
- Post an issue report or feature request using [Github issues](https://github.com/decent-im/decent.im/issues)
- Participate in discussion and work on [issues already posted](https://github.com/decent-im/decent.im/issues)
- Edit configs or code and make a [pull request](https://github.com/decent-im/decent.im/pulls) for a bugfix or enhancement
- Use the code and configs to start up your own server of same functionality

Thanks for your interest!
    {% endfilter %}

  </div>
</div>
{% endblock %}