{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    {% filter markdown %}
# Contact

To request for a new account, [please drop me an email](mailto:customer-support@autkin.net).

To ask or inform me privately about something, please do the same.

To post an issue in public, please use [project’s Github Issues](https://github.com/decent-im/decent.im/issues). You can even prepare Github Pull Request with some configuration changes - that repo contains script used to deploy the production config to pristine server. Feel free also to fork it and make similar public or private service.

Thanks for your interest!
    {% endfilter %}
  </div>
</div>
{% endblock %}
