{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    {% filter markdown %}

# Newsreader service

[FreshRSS](https://freshrss.org) is a [free & open source](https://github.com/FreshRSS/FreshRSS/blob/edge/LICENSE.txt),
ergonomic feed reader with web interface and [API for mobile apps](https://github.com/FreshRSS/FreshRSS#apis--native-apps).

* Spend less time to see
[professional](https://news.decent.im/i/?get=f_534&state=3) [journalism](https://news.decent.im/i/?a=normal&get=f_542&state=3),
[job](https://news.decent.im/i/?a=normal&get=f_316&state=3) [vacancies](https://news.decent.im/i/?a=normal&get=f_156&state=3),
[podcasts](https://news.decent.im/i/?a=normal&get=f_94&state=3),
[video producers](https://news.decent.im/i/?a=normal&get=f_482&state=3),
[blogs](https://news.decent.im/i/?a=normal&get=f_133&state=3),
[comics](https://news.decent.im/i/?get=f_155&state=3)
and more.
* [Listen](https://autkin.net/tmp/tts/demo.mp4), with integrated modern [speech synthesizer Piper](https://github.com/rhasspy/piper/) on high settings.

I've set up [news.decent.im](https://news.decent.im) to use it myself and share it with others.
As with the [XMPP service](/register/), I use it daily and I like it very much.

**[Take a look at my own selection of news sources to get a taste](https://news.decent.im/i/?a=normal&state=3).**

**[Terms of Service](https://news.decent.im/i/?a=tos)**

You get 30 days trial and pay £20 (~ $26 ~ €24) per year.

# **[Buy an account](https://news.decent.im/i/?c=customer&a=pay)**

**[Manage subscription](https://billing.stripe.com/p/login/4gw8zd35Ga7dbFC7ss)**

So nice and affordable that you want to tip? [Donate to Ukraine instead](/donate-to-ukraine/).

If we know each other, or your work in public interest is known to me, please [contact me](mailto:customer-support@autkin.net) to request an account for free.

<br>History
<br>
<br>2023-11-28: offering published
<br>2024-02-27: Enabled <a href="https://github.com/FreshRSS/Extensions/tree/master/xExtension-YouTube">Youtube</a> extension on customer request
<br>2024-07-08: Enabled <a href="https://github.com/printfuck/xExtension-Readable">Readable</a> extension on customer request
<br>2024-08-31: Rolled out completely automated registration
<br>2024-08-31: Rolled out own development, <a href="https://github.com/decent-im/Extensions">TTS</a> extension
<br>2024-09-06: Price raised from 10 GBP/yr to 20 GBP/yr to recoup TTS feature development efforts and make more of it possible. Existing customers are not affected.

    {% endfilter %}
  </div>
</div>
{% endblock %}
