{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    {% filter markdown %}

# Newsreader service

A reliable web feed reader service with new features developed here.

* **Pure information**: never miss new information from the people who have earned your trust, avoid distractions
* **No cookies, no dialogs, no ads, more privacy**
* **Universal: most websites have feeds**. Simply give it the page URL, it will detect the feed
* **Mobile-friendly**: native web interface works great and is fast on mobile, also there are many [mobile apps](https://github.com/FreshRSS/FreshRSS#apis--native-apps)
* **Give your eyes some rest, [listen](https://autkin.net/tmp/tts/demo.mp4) on the go**, with integrated modern speech synthesizer [Piper](https://github.com/rhasspy/piper/) on high settings.
* **More than RSS/Atom**: built-in web scraping, also there are handy services providing feeds ([1](https://kill-the-newsletter.com/), [2](https://hnrss.github.io/))
* **Freedom from lock-in**: [FreshRSS](https://freshrss.org) is easy to host yourself, I will happily support you in migration

I've set it up for myself, it proved to be excellent so I share it with others.<br>
Take a look at [my own selection of news sources](https://news.decent.im/i/?a=normal&state=3) to get a feel.<br>
I enjoy
[professional](https://news.decent.im/i/?get=f_534&state=3) [journalism](https://news.decent.im/i/?a=normal&get=f_542&state=3),
[job](https://news.decent.im/i/?a=normal&get=f_316&state=3) [vacancies](https://news.decent.im/i/?a=normal&get=f_156&state=3),
[podcasts](https://news.decent.im/i/?a=normal&get=f_94&state=3),
[video producers](https://news.decent.im/i/?a=normal&get=f_482&state=3),
[social](https://news.decent.im/i/?a=normal&get=f_332&state=3) [media](https://news.decent.im/i/?get=f_321&state=3),
[blogs](https://news.decent.im/i/?a=normal&get=f_133&state=3),
[comics](https://news.decent.im/i/?get=f_155&state=3)
and more.

**[Terms of Service](https://news.decent.im/i/?a=tos)**
|
**[Manage subscription](https://billing.stripe.com/p/login/4gw8zd35Ga7dbFC7ss)**

# **[Buy an account](https://news.decent.im/i/?c=customer&a=pay)**

You get 30 days trial and pay £20 (≈ $26 ≈ €24) per year.<br>
Want to tip? [Donate to Ukraine](/donate-to-ukraine/).

You do public interest work? [Contact me](mailto:customer-support@autkin.net) for a free account.

<br>History
<br>
<br>2023-11-28: offering published
<br>2024-02-27: Enabled <a href="https://github.com/FreshRSS/Extensions/tree/master/xExtension-YouTube">Youtube</a> extension on customer request
<br>2024-07-08: Enabled <a href="https://github.com/printfuck/xExtension-Readable">Readable</a> extension on customer request
<br>2024-08-31: Rolled out completely automated registration
<br>2024-08-31: Rolled out own development, <a href="https://github.com/decent-im/Extensions">TTS</a> extension
<br>2024-09-06: Price raised from 10 GBP/yr to 20 GBP/yr to recoup TTS feature development efforts and make more of it possible. Existing customers are not affected.

    {% endfilter %}
  </div>
</div>
{% endblock %}
