{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    {% filter markdown %}

# Privacy policy of decent.im XMPP service

## My contact details

<pre>
Name: Andriy Utkin
E-mail: andrey_utkin@fastmail.com <a href="http://autkin.net/pgpkey.txt">PGP 452094DD6AA717ED44862B24105CF649B36EC9D6</a>
XMPP: andrey.utkin@decent.im
</pre>

## The type of personal information I collect

I currently collect and process the following information on decent.im XMPP users.

* Registration profile
  * Name.
  * Pre-existing email address.
  * Registered XMPP address.
  * Date of registration.
* Support archive
  * My email conversations with you.
  * My XMPP conversations with you.
* All your XMPP messages archive and your settings.

Your IP address is used by the service software but is not logged.

## How I get the personal information and why I have it

All of the personal information I process is provided to me directly by you, and used by me for the following reasons.

* Enabling the registration workflow.
* Enabling technical user support and access recovery.
* Enabling service improvement through understanding users' needs and preferences.

I do not receive any personal information indirectly from third parties.

I do not share this information with any organisations or individuals.

Under the UK General Data Protection Regulation (UK GDPR), the lawful bases I rely on for processing this information are the following.

* Your consent. You are able to remove your consent at any time. You can do this by contacting me as given above.
* I have a legitimate interest.

## How I store your personal information

Your information is stored in

* the servers where decent.im XMPP service runs, located in Germany and Finland in datacenters managed by Hetzner Online GmbH, registered in Germany;
* my own computers, located in the UK;

My email conversations with you are also stored in my fastmail.com account managed by FastMail Pty. Ltd, registered in Australia.

I keep all this personal information forever and do not currently have a process of periodical disposal of this information.
All your XMPP messages archive is also currently stored forever.

## Your data protection rights

Under data protection law, you have rights including the following.

* Your right of access - You have the right to ask me for copies of your personal information. 
* Your right to rectification - You have the right to ask me to rectify personal information you think is inaccurate. You also have the right to ask me to complete information you think is incomplete. 
* Your right to erasure - You have the right to ask me to erase your personal information in some cases. 
* Your right to restriction of processing - You have the right to ask me to restrict the processing of your personal information in some cases. 
* Your right to object to processing - You have the the right to object to the processing of your personal information in some cases.
* Your right to data portability - You have the right to ask that I transfer the personal information you gave me to another organisation, or to you, in some cases.
* You are not required to pay any charge for exercising your rights. If you make a request, I have one month to respond to you.

Please contact me as given above if you wish to make a request.

## How to complain

If you have any concerns about my use of your personal information, you can make a complaint to me as given above.

You can also complain to the ICO if you are unhappy with how I have used your data.

<pre>
The ICO’s address:
Information Commissioner’s Office
Wycliffe House
Water Lane
Wilmslow
Cheshire
SK9 5AF

Helpline number: 0303 123 1113
ICO website: https://www.ico.org.uk
</pre>

    {% endfilter %}
  </div>
</div>
{% endblock %}
