{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    {% filter markdown %}
# Register

## How to get

To request for account registration, please [drop me an email](mailto:andrey_utkin@fastmail.com).

## What you get

 - JID of `username@decent.im` form;
 - Chat sync and history storage features;
 - File sharing capability;
 - Private conferencing (multi-user chats) on `roomname@chat.decent.im`;
 - Transports to other messaging systems (go to `support@chat.decent.im` room for help):
  * IRC (`freenode.decent.im`, `irc.decent.im`)
 - Possibility to make audio/video calls via Jabber
 - Personal support (chatroom `support@chat.decent.im`, email, etc.);

If you want to ask about specific features, please also [drop me an email](mailto:andrey_utkin@fastmail.com).
    {% endfilter %}
  </div>
</div>
{% endblock %}
