{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    {% filter markdown %}
# Register

## How to get

<script async
src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
buy-button-id="buy_btn_1OD6p1Rdy8kn6S6aEqMbrGSx"
publishable-key="pk_live_51K59r2Rdy8kn6S6anuYmS7vkQjPhTrRe3nfs4Z4SBA7kjNoZXMumMRf99oKubccIZe2NNnjfPJP6UUExSxAWeiKc00sOO9TnSQ"
>
</stripe-buy-button>

<!--
Stripe form above won't load on plain http URL.
I don't want to force HTTPS website-wide.
I want to support disabled JavaScript.
-->
<a href="https://buy.stripe.com/eVa4h42C8bce1pu5km" id="payment-link">Submit the payment and details.</a>
<script type="text/javascript">
if (window.location.protocol == "https:") {
    document.getElementById('payment-link').setAttribute("hidden", "true");
}
</script>

If we know each other, or your work in public interest is known to me, please [contact me](mailto:customer-support@autkin.net) to request an account for free.

## What you get

 - JID of `username@decent.im` form;
 - Chat sync and history storage features;
 - File sharing capability:
   * up to 1 MiB each uploaded file;
   * 2 GiB total user quota for uploaded files;
   * direct sharing (used by default for big files) is unlimited;
 - No expiration for message archives and file uploads. Ask me to set expiration age for your data.
 - You can create private multi-user chatrooms at `roomname@chat.decent.im`;
 - Transports to other messaging systems (go to `support@chat.decent.im` room for help):
   * IRC (`irc.decent.im`)
 - Possibility to make audio/video calls via Jabber;
 - Personal support (chatroom `support@chat.decent.im`, email, etc.);
 - Personal support on setting up and maintaining your own self-hosted XMPP server.

If you want to ask about specific features, please also [drop me an email](mailto:customer-support@autkin.net).

## How it works

Email address you used to request registration is considered the administrative contact.

In communication with the administrative contact, one or some of the XMPP accounts can be considered administrative
contacts, too.

Automatic password reset is not implemented, but requests sent from administrative contacts are reviewed.

    {% endfilter %}
  </div>
</div>
{% endblock %}
