{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    {% filter markdown %}
# Register

## How to get

To request for account registration, please [drop me an email](mailto:andrey_utkin@fastmail.com).

Please consider recurring donation on [Gratipay](https://gratipay.com/decent-im) or [Bountysource Salt](https://salt.bountysource.com/teams/decent-im) to keep the service running and to appreciate Jabber software development and adoption.

## What you get

 - JID of `username@decent.im` form;
 - Chat sync and history storage features;
 - File sharing capability;
 - Private conferencing (multi-user chats) on `roomname@chat.decent.im`;
 - Transports to other messaging systems (go to `support@chat.decent.im` room for help):
  * IRC (`freenode.decent.im`, `irc.decent.im`)
  * Skype (`skype.decent.im`)
  * Facebook (`facebook.decent.im`)
  * Twitter (`twitter.decent.im`)
 - Possibility to make audio/video calls via Jabber
  * Some Jabber clients support calls natively (however interoperability and stability is known to be poor in many cases)
  * Some web applications are deployed, enabling calls for you:
      - [Jappix](https://decent.im/jappix)
      - [JSXC](https://decent.im/jsxc/example)
  * Also see [me working on feature development for Conversations](https://www.bountysource.com/issues/18153806-support-audio-video-calls-encryption/backers)
 - Personal support (chatroom `support@chat.decent.im`, email, etc.);
 - Constant evolvement of features set. We're here to last long and to kick asses.

If you want to negotiate about specific features, please also [drop me an email](mailto:andrey_utkin@fastmail.com).
    {% endfilter %}
  </div>
</div>
{% endblock %}