{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    {% filter markdown %}
# Usage

## Tools

[XMPP Account Exporter](https://decent.im/xmpp-account-exporter/)
lets you export your user profile settings, contact list, bookmarks. Not message archive though.



## Client apps

[Conversations](http://conversations.im)
is a great Android client app.
**Recommended.**

[Dino](http://dino.im)
is a Linux desktop client.
Reliable and slick.
Lacks advanced management features e.g. for managing chatrooms - check out Gagim for that.
**Recommended.**

[Gajim](http://gajim.org)
is a feature-rich desktop client.
Has a lot of advanced features but may be clunky or unstable.
**Recommended.**

[Converse.js](https://decent.im:5281/conversejs)
is a web client app.
Purely client-side - the JS code runs in your browser, no third party relay server is used.

[poezio](http://poez.io),
[profanity](https://profanity-im.github.io),
[mcabber](http://mcabber.com)
- terminal-based client apps.

    {% endfilter %}

  </div>
</div>
{% endblock %}
