{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    {% filter markdown %}
# Usage

## Or how to get all of it

[Dino](http://dino.im) is a desktop client with great UX. Some advanced configuration options are not there, e.g. for
managing chatrooms - check out Gagim for that. **Recommended.**

[Conversations](http://conversations.im) is Android client app which supports all chat sync features, and also supports chat encryption with OpenPGP (but [can't send to offline buddy yet](https://github.com/siacs/Conversations/issues/822)), OTR and OMEMO. **Recommended.**

[Gajim](http://gajim.org) is a feature-rich desktop client. Somewhat slow as it's written in Python. Development is not
very active. **Recommended.**

[poezio](http://poez.io) is a terminal-based client app. Feature-rich and actively developed. **Recommended.**

[mcabber](http://mcabber.com) is terminal-based client app. Maintained, but not much ongoing feature development. **Recommended.**

[profanity](https://profanity-im.github.io) is a terminal-based client app. Actively developed but I never used it
personally. Should be good.

[Pidgin](http://pidgin.im) is a desktop client app. Seems to be sporadically maintained, beware. I don't recommend it.

    {% endfilter %}

  </div>
</div>
{% endblock %}
