{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    {% filter markdown %}
# Usage

## Or how to get all of it

[Conversations](http://conversations.im) is Android client app which supports all chat sync features, and also supports chat encryption with OpenPGP (but [can't send to offline buddy yet](https://github.com/siacs/Conversations/issues/822)), OTR and OMEMO. **Recommended.**

[Gajim](http://gajim.org) is desktop client supporting chat sync features, and encryption with OpenPGP, OTR. Feature-rich, but development is not very active. **Recommended.**

[mcabber](http://mcabber.com) is terminal interface client app which supports Message Carbons but not MAM. Supports chat encryption with OpenPGP, OTR. Actively developed. **Recommended.**

[Pidgin](http://pidgin.im) is multi-platform desktop client app which doesn't support Message Carbons as of 2.10.11 release (but [there's a patch pending](https://developer.pidgin.im/ticket/15508#comment:52)), MAM seems to be not there, either. Supports chat encryption with OpenPGP, OTR. **WARNING! Seen to disable configured encryption without notice. Not recommended.**

Please help to gather information about support of these features in other FOSS client apps.
    {% endfilter %}

  </div>
</div>
{% endblock %}